body{

    font-family: "Lucida Grande", sans-serif;
    color: #ffffff;
    background-color: #000000;
   
}

h1{
    font-size: 64px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
}

p{
    font-size: 24px;
    padding-top: 20px;
}

img{
    display: block;
    width: 525px;
    margin-left: auto;
    margin-right: auto;
}

div{

    min-height: 150px;
    padding: 25px;
}

#red{
    background-color: #fb0007;
    text-align: right;
}

#blue{
    background-color: #0000FF;
    text-align:left;
}

#yellow h2{
    text-shadow:5px 5px 2px #c7e2c7;
}

#yellow{
        background-color:#ffff0c;
        text-align:right;
        color:#000000
}

#green{
    background-color:#0e7103;
    text-align: left;
}

footer{
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* test validation with Bonnie Jiang(bonbonj)